/***************** body ***************/

#body {
    overflow-y: scroll;
}

:root {
    --color-blue: #3499FF;
    --color-yellow: #FFC000;
    --background-blue: linear-gradient(180deg, #46A4FF 0%, #4068E7 100%);
    --background-green: linear-gradient(180deg, #19C139 0%, #13982C 99.99%, #16AF33 100%);
    --background-yellow: linear-gradient(180deg, #FFCC00 0%, #F49F20 99.99%, #FFB800 100%);
}


/* button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button.new-color {
    background-color: green;
} */


/* label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0062cc;
  }
  
  input[type="number"] {
    width: 6rem;
    padding: 0.5rem;
    margin-right: 1rem;
  }
  
  select {
    padding: 0.5rem;
    margin-right: 1rem;
  }
  
  #calculate {
    margin-top: 1rem;
  }
  
  #result {
    margin-top: 1rem;
    font-weight: bold;
  } */
  #country-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #country-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
  }
  
  #country-dropdown button {
    background-color: #f1f1f1;
    color: black;
    border: none;
    width: 100%;
    text-align: left;
    padding: 12px 16px;
    cursor: pointer;
  }
  
  #country-dropdown button:hover {
    background-color: #ddd;
  }
  
  #country-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  #country-flag {
    margin-right: 20px;
  }
  
  
  
  
  
  